
body {
    background-color: #EAECEE;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: #2C3E50;
}
h1 {
    color: black;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: black;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: #EAECEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #666;
}

li a.active {
    color: white;
    background-color: #666;
}

p {
  line-height: 1.32em;
  font-family: 'Hind Vadodara', sans-serif;
  width: 90%;
  color: #2C3E50;
}

.aboutme {
	font-family: sans-serif;
	font-size: 40px;	
}
.contact {
	 font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif; 
	font-size: 30px;
}
#resumeHead{
	 text-align: center;
	 background-color: #424949;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: white;
}
#skills{
	text-align: left;
	 background-color: #424949;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: white;	
}
#experience{
	text-align: left;
	 background-color: #424949;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: white;
}
#education{
	text-align: left;
	 background-color: #424949;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: white;
}
