
body {
    background-color: #424949;
}
h1 {
    color: white;
}
p {
    color: white;
}

#navagation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
    
p{
  line-height: 1.32em;
  font-family: 'Hind Vadodara', sans-serif;
  width: 90%;
  color: #D0D3D4;
}

nav ul li a:hover{
  color: yellow;
}

nav ul li a:active{
  color: white;
}

#aboutMe {
	font-family: sans-serif;
	font-size: 40px;
	
}
#nav{
	
}

.clear{
  clear: both;
}
