
body {
    background-color: #424949;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	 font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, sans-serif;
}
h1 {
    color: white;
    font-size: 40px;
}

h3 {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, sans-serif; 
}
p {
    color: white;
}

#navagation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 24px;
	
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}
    
p {
  line-height: 1.32em;
  font-family: 'Hind Vadodara', sans-serif;
  width: 90%;
  color: #D0D3D4;
}

nav ul li a:hover{
  color: yellow;
}

nav ul li a:active{
  color: white;
}

#aboutme {
	font-family: sans-serif;
	font-size: 40px;	
}
#contact {
	 font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif; 
	font-size: 30px;
}
}
.clear{
  clear: both;
}
